<div class="jumbotron" style="background-color:transparent !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1>In an emergency, every second counts.</h1>
        <p> SaveMe is the fastest way to call for help.</p>
        <p><%= link_to 'Sign up for SaveMe', signup_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #F25555;">
  <div class="row"><br></div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'mockups/call 911.png', size: "277x558", class: "center-block img-responsive" %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'mockups/cancel old.png', size: "277x558", class: "center-block img-responsive" %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'mockups/dialing.png', size: "277x558", class: "center-block img-responsive" %>
      <br>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">With one tap: </h2>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 feature-desc">
    <span class="glyphicon glyphicon-phone" style="font-size:1.5em;"></span>
    <p>Call 911</p>
  </div>
  <div class="col-sm-3 feature-desc">
    <span class="glyphicon glyphicon-map-marker" style="font-size:1.5em;"></span>
    <p>
      Effortlessly communicate your location to 911 services
    </p>
  </div>
  <div class="col-sm-3 feature-desc">
    <span class="glyphicon glyphicon-plus" style="font-size:1.5em;"></span>
    <p>
      Automatically send emergency responders your medical information for better service.
    </p>
  </div>
  <div class="col-sm-3 feature-desc">
    <span class="glyphicon glyphicon-envelope" style="font-size:1.5em;"></span>
    <p>
      Let your friends and family know you are in trouble
    </p>
  </div>
</div>
