    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1>There when you need it</h1>
            <p>Help makes it simple for you to handle your emergency.  One button does it all.</p>
            <p><%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg" %></p>
          </div>
          <div class="col-lg-3">
            <%= image_tag 'mockups/Call 911_iphone6_silver_portrait.png', size: "277x558" %>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-4">
  <h3>Call 911 with the tap of a button</h3>
</div>
<div class="col-md-4">
  <h3>Send important information to first responders in real time</h3>
</div>
<div class="col-md-4">
  <h3>Let your people know that you are in trouble</h3>
</div>