<% if @interested_person.errors.messages.blank? %>
  <div class="col-md-6 col-md-offset-3">
  	<h1>Interested in SaveMe? Sign up and we'll let you know when we hit the app store.</h1>
  </div>
<% end %>

<%= render 'form' %>


